
/****************************/
/****HEADER*****/
/****************************/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf2e9;
    height: 9.6rem;
    padding: 0 4.8rem;
}
.logo{
    height: 2.2rem;
}
/****************************/
/****NAV*****/
/****************************/

.main-nav-list{
    display: flex;
    align-items: center;
    list-style:none;
    gap: 4.8rem;

}
.main-nav-item:visited, 
.main-nav-item:link{
    display: inline-block;
    color: #333;
    font-size: 1.8rem;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
} 
.main-nav-item:hover, 
.main-nav-item:active{
    color: #e67e22;
    
} 
.main-nav-item.nav-cta:link,.main-nav-item.nav-cta:visited{
    background-color: #e67e22;
    color: #ffF;
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
}
.main-nav-item.nav-cta:hover,.main-nav-item.nav-cta:active{
    background-color: #cf711f;

}
/****************************/
/****HERO*****/
/****************************/

.section-hero{
    background-color: #fdf2e9;
    padding: 4.8rem 0 9.6rem 0;
}

.hero{
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
}

.hero-description{
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
    font-weight: 400;
}
.hero-img{
    width: 100%;
}

.delivered-meals{
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-top: 8rem;
}
.delivered-imgs{
    display: flex;
}
.delivered-imgs img{
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    border: 3px solid #fdf2e9;
  
}
.delivered-imgs img:not(:last-child){
    margin-right:  -1.6rem;
}
.delivered-text{
    font-size: 1.8rem;
    font-weight: 600;
}
.delivered-text span{
    color: #cf711f;
    font-weight: 700;
}
/****************************/
/****Featured in*****/
/****************************/
.section-featured{
    padding: 4.8rem 0 3.2rem 0;
}
.heading-featured-in{
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.4rem;
    color: 888;
}
.logos{
    display: flex;
    justify-content: space-between;
}
.logos img{
    height: 3.2rem;
    filter:brightness(0);
    opacity: 50%;
}





/****************************/
/****HOW IT WORKS SECTION*****/
/****************************/
.section-how{
    padding: 9.6rem 0;
}

.step-img{
    width: 35%;
}

.step-number{
    font-size: 8.6rem;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 1.2rem;
}
.step-description{
    font-size: 1.8rem;
    line-height: 1.8;
}
.step-img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.step-img-box::before{
    content: "";
    display: block;
    width: 60%;
    padding-bottom: 60%;
    background-color: #fdf2e9;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}
.step-img-box::after{
    content: "";
    display: block;
    width: 45%;
    padding-bottom: 45%;
    background-color: #fae5d3;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}
/****************************/
/****MEALS SECTION*****/
/****************************/
.section-meals{
    padding: 9.6rem 0;
}
ul{
    list-style: none;
}
.tag{
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    color: #333;
    border-radius: 10px;
    padding: 4px 8px;
}
.tag-vegitarian{
    background-color: #51cf66;
}
.tag--vegan{
    background-color: #94d82d;
}
.tag--paleo{
    background-color: #ffd43b;
}
.meal{
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.095);
    border-radius: 10px;
    overflow: hidden;
    transition: all .2s ease-in;
}
.meal-title{
    font-size: 2.4rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 3.2rem;
}
.meal-img{
    width: 100%;
}
.meal-content{
    padding: 3rem 4.8rem 4.8rem 4.8rem;
}
.meal-tags{
    display: flex;
    gap: 0.4rem;
    margin-bottom: 1.2rem;
}
.meal-attributes{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.list-icon{
    width: 3rem;
    height: 3rem;
    color: #e67e22;
}
.meal-attribute{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}
.meal-icon{
    color: #e67e22;
}
.meal:hover{
    transform: translateY(-13px);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
.all-recipes{
    font-size: 1.8rem;
    color: #e67e22;
}
.link{
  
    border-bottom: 1px solid #cf711f;
    color: #e67e22;
    text-align: center;
}
/****************************/
/****TESTIMONIALS SECTION*****/
/****************************/
.section-testimonials{
    display: grid;
    grid-template-columns: 55fr 45fr;
    background-color: #fdf2e9;
    align-items: center;
}
.testimonials-container{
    padding: 9.6rem; 
}
.testimonials{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4.6rem;
    column-gap: 8rem;
}
.testimonial-text{
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
}
.testimonials-name{
    font-size: 1.6rem;
    color: #6f6f6f;
}
.testimonial-img{
    border-radius: 50%;
    width: 6.4rem;
    margin-bottom: 1.2rem;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
}
.gallery-item{
    overflow: hidden;
}
.gallery-item img{
    display: block;
    width: 100%;
    transition: all .4s ease-out;
}
.gallery-item img:hover{
transform: scale(1.1);
}
/****************************/
/****PRICING SECTION*****/
/****************************/
.section-pricing{
    padding: 9.6rem 0 ;
}

.pricing-plan{
    padding: 4.8rem;
    border-radius: 11px;
    width: 75%;
}
.pricing--plan--starter{
    justify-self: end;
    border: 3px solid #fdf2e9;
}
.pricing--plan--complete{
    background-color: #fdf2e9 ;
    position: relative;
    overflow: hidden;
}
.pricing--plan--complete::after{
    content: "Best Value";
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    position: absolute;
    color: #333;
    top: 6%;
    right: -18%;
    background-color: #ffd43b ;
    padding: 0.8rem 8rem;
    transform: rotate(45deg);
}
.plan-header{
    margin-bottom: 4.6rem;
}
.plan-title{
    color: #e67e22;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75;
}
.plan-price{
    font-weight: 700;
    color: #333;
    font-size: 6.2rem;
    margin-bottom: 1.6rem;
}
.plan-price span{
    font-size: 3rem;
    
}
.plan-text{
    font-size: 1.6rem;
    line-height: 1.6 ;
}
.plan-sign-up{
    margin-top: 4.8rem;
    text-align: center;
}
.feature-icon{
    color: #e67e22;
    height: 3.2rem;
    width: 3.2rem;
    background-color: #fdf2e9;
    border-radius: 50%;
    margin-bottom: 3.2rem;
    padding: 1.6rem;
}
.feature-title{
    font-size:2.4rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
    color: #333;
}
.feature-text{
    font-size: 1.6rem;
    line-height: 1.6;
}
/****************************/
/****CTA SECTION*****/
/****************************/
.section-cta{
    padding: 9.6rem 0;
}
.cta{
    overflow: hidden;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background: linear-gradient(to right bottom, #eb984e, #e67e22);

    border-radius: 11px ;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.0075);
}
.cta-img-box{ 
    background: linear-gradient(to right bottom, rgba(235,151,78,0.35), rgba(230,125,34,0.35)), url("img/eating.jpg");
    background-size: cover;
}
.cta-text-box{
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    color: #45260a;
}
.cta-text{
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 4.8rem;
}
.cta-text-box h2{
    color: inherit;
    margin-bottom: 3.2rem;
}
.cta-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
}
.cta-form label{
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}
.cta-form input,
select{
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: #fae5d3;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.cta-form input::placeholder{
    color: #aaa;
}

.cta-form *:focus{
    outline: nonne;
    box-shadow: 0 0 0 0.8rem rgba(253 , 242, 233, 0.5);
}
/****************************/
/****FOOTER SECTION*****/
/****************************/
.footer{
    border-top: 1px solid #eee;
    padding: 9.6rem 0;
}
.logo-col{
    display: flex;
    flex-direction: column;
}
.social-links{
    display: flex;
    gap: 2.4rem;

}
.footer-logo{
    display: inline-block;
    margin-bottom: 3.2rem;
}
.social-links ion-icon{
    width: 2.4rem;
    height: 2.4rem;
}
.copyright{
    margin-top: 4.2rem;
    font-size: 1.4rem;
    line-height: 1.6;
    
}
.footer-heading{
    margin-bottom: 4rem;
    font-size: 1.8rem;
    font-weight: 500;
}
.footer-nav, .contacts{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.6rem;
}